@page
@model MegaDeskWebApp.Pages.MyDesk.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.DeskQuote.firstName)'s @Html.DisplayFor(model => model.DeskQuote.desk.materialType) desk
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.purchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.purchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.firstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.sizeCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.sizeCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.drawerCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.drawerCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.materialCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.materialCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.rushCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.rushCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.totalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.totalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.DeskQuoteID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
