@page
@model MegaDeskWebApp.Pages.MyDesk.IndexModel

@{
    ViewData["Title"] = "View Quotes";
}

<h2>Customer Quotes</h2>


<form>
    <p>
        Search by Name: <input type="text" asp-for="CustomerName" />
        <input id="filter" type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].purchaseDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].firstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].lastName)
                </a>
            </th>
            <!--th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].sizeCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].drawerCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].materialCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].rushCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].desk.rushDays)
            </th-->
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].totalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuote)
        {
            <tr class="edit">
                <td>
                    @Html.DisplayFor(modelItem => item.purchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <!--td>
                    @Html.DisplayFor(modelItem => item.sizeCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.drawerCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.materialCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rushCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desk.rushDays) Days
                </td-->
                <td>
                    @Html.DisplayFor(modelItem => item.totalCost)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.DeskQuoteID">
                        <img src="~/images/edit.jpg" alt="edit button" title="Edit"/>
                    </a>|
                    <a asp-page="./Details" asp-route-id="@item.DeskQuoteID">
                        <img src="~/images/detail.jpg" alt="detail button" title="Details" />
                    </a>|
                    <a asp-page="./Delete" asp-route-id="@item.DeskQuoteID">
                        <img src="~/images/delete.jpg" alt="delete button" title="Delete" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
